.CodeMirror3-hints {
	position: absolute;
	z-index: 9999;
	max-height: 200px;
	max-width: 250px;
	min-width: 250px;
	overflow: auto;
	background: white;
	font-family: Geneva, Arial, Helvetica, sans-serif;
	font-size: 13px;
	padding: 0 0 0 4px;
	border-radius: 3px;
	border: 1px solid #777777;
	color: #333333;
	
	-moz-box-shadow: 0 0 10px #777777;
	-webkit-box-shadow: 0 0 10px #777777;
	-o-box-shadow: 0 0 10x #777777;
	box-shadow: 0 0 10px #777777;
}

.CodeMirror3-hint {
  margin: 0px;
  padding: 0px;
  border: 0px solid transparent;
  list-style-type: none;
  cursor: pointer;
  white-space: nowrap;
}

.CodeMirror3-hint-active {
  color: #FFF !important;
  background-color: #3399FF !important;
}